@model DESCUENTOS_ASOCIADOS.Models.TBL_CONCEPTO_ASOCIADO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Create</h2>

<table class="table table-bordered table-responsive" style="width:100%">
    <tr style="background-color:#000000;color:#ffffff">
        @*<th>seleccionar</th>*@
        <th>
            NOMBRE ASOCIADO
        </th>
        <th> TELEFONO ASOCIADO</th>
        <th> IDENTIFICACION ASOCIADO</th>
    </tr>
    @foreach (var item in @ViewBag.Asociados)
    {
        <tr>
            @*<td>@Html.CheckBox("@item.ID_ASOCIADO", false)</td>*@
            <td>
                @item.NOMBRE
            </td>
            <td>
                @item.TELOFONO
            </td>
            <td>@item.IDENTIFICACION</td>
        </tr>
    }
</table>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-inline">
        <h4>TBL_CONCEPTO_ASOCIADO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-5">
            @Html.LabelFor(model => model.ID_CONCEPTO, "ID_CONCEPTO", htmlAttributes: new { @class = "control-label col-md-5" })
            
                @Html.DropDownList("ID_CONCEPTO", null, htmlAttributes: new { @class = "form-control", @Style = "Width:100%" })
                @Html.ValidationMessageFor(model => model.ID_CONCEPTO, "", new { @class = "text-danger" })
           
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.ID_ASOCIADO, "ID_ASOCIADO", htmlAttributes: new { @class = "control-label col-md-5" })
          
                @Html.DropDownList("ID_ASOCIADO", null, htmlAttributes: new { @class = "form-control", @Style = "Width:100%" })
                @Html.ValidationMessageFor(model => model.ID_ASOCIADO, "", new { @class = "text-danger" })
           
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.FECHA_INICIAL, htmlAttributes: new { @class = "control-label col-md-5" })
           
                @Html.EditorFor(model => model.FECHA_INICIAL, new { htmlAttributes = new { @class = "form-control", @Type="Date", @Style = "Width:100%" } })
                @Html.ValidationMessageFor(model => model.FECHA_INICIAL, "", new { @class = "text-danger" })
            
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.FECHA_FINAL, htmlAttributes: new { @class = "control-label col-md-5" })
          
                @Html.EditorFor(model => model.FECHA_FINAL, new { htmlAttributes = new { @class = "form-control", @Type = "Date" , @Style="Width:100%"} })
                @Html.ValidationMessageFor(model => model.FECHA_FINAL, "", new { @class = "text-danger" })
           
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.ESTADO_CUENTA, htmlAttributes: new { @class = "control-label col-md-5" })
            
              
                    @Html.EditorFor(model => model.ESTADO_CUENTA, new { htmlAttributes = new { @class = "form-control col-md-5", @Style = "Width:100%" } })
                    @Html.ValidationMessageFor(model => model.ESTADO_CUENTA, "", new { @class = "text-danger" })
             
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.VALOR, htmlAttributes: new { @class = "control-label col-md-5" })
          
                @Html.EditorFor(model => model.VALOR, new { htmlAttributes = new { @class = "form-control", @Style = "Width:100%" } })
                @Html.ValidationMessageFor(model => model.VALOR, "", new { @class = "text-danger" })
          
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.PERIODICIDAD, htmlAttributes: new { @class = "control-label col-md-5" })
           <br />
                @Html.DropDownList("PERIODICIDAD", new SelectList(ViewBag.Periodicidad, "Value", "Text"), new { @class = "form-control col-md-5", @Style = "Width:100%" })
                @Html.ValidationMessageFor(model => model.PERIODICIDAD, "", new { @class = "text-danger" })
          
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.FORMA_PAGO, htmlAttributes: new { @class = "control-label col-md-5" })
           
                @Html.EditorFor(model => model.FORMA_PAGO, new { htmlAttributes = new { @class = "form-control", @Style = "Width:100%" } })
                @Html.ValidationMessageFor(model => model.FORMA_PAGO, "", new { @class = "text-danger" })
            
        </div>

        <div class="col-md-5">
            @Html.LabelFor(model => model.FECHA_VENC, htmlAttributes: new { @class = "control-label col-md-5" })
            
                @Html.EditorFor(model => model.FECHA_VENC, new { htmlAttributes = new { @class = "form-control", @Type = "Date", @Style="Width:100%" } })
                @Html.ValidationMessageFor(model => model.FECHA_VENC, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
