@model IEnumerable<DESCUENTOS_ASOCIADOS.Models.TBL_CONCEPTO_ASOCIADO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_INICIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_FINAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_CUENTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERIODICIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FORMA_PAGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_VENC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_ASOCIADO.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_CONCEPTOS.CODIGO_CONCEPTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_INICIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_FINAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_CUENTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERIODICIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FORMA_PAGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_VENC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_ASOCIADO.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_CONCEPTOS.CODIGO_CONCEPTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_CONASC }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_CONASC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_CONASC })
        </td>
    </tr>
}

</table>
