@model DESCUENTOS_ASOCIADOS.Models.TBL_EQUIVALENCIAS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TBL_EQUIVALENCIAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODIGO_CONTABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_CONTABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_CONCEPTOS.CODIGO_CONCEPTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_CONCEPTOS.CODIGO_CONCEPTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EQUIVALENCIAS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
