@model IEnumerable<DESCUENTOS_ASOCIADOS.Models.TBL_ASOCIADO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELOFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_CONCEPTOS.CODIGO_CONCEPTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELOFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_CONCEPTOS.CODIGO_CONCEPTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ASOCIADO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ASOCIADO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ASOCIADO })
        </td>
    </tr>
}

</table>
